{% extends "home.html" %}

{% block content %}
<table style="width:100%">
    <tr>
      <td width="{{ percent_up }}%">
        <button
          style="border-radius:10px 0 0 10px; opacity:{% if vote == 'down'%}0.5{% else %}1{% endif %};"
          class="btn btn-success btn-lg btn-block">Up ({{ percent_up }}%) {{ vote_count_up }} total.
        </button>
      </td>
      <td width="{{ 100 - percent_up }}">
        <button
          style="border-radius:0 10px 10px 0; opacity:{% if vote == 'up'%}0.5{% else %}1{% endif %};"
          class="btn btn-danger btn-lg btn-block">Down ({{ 100 - percent_up }}%) {{ vote_count_down }} total.
        </button>
      </td>
    </tr>
</table>
{% endblock %}
