{% extends "poll.html" %}

{% block content %}
<table style="width:100%">
    <tr>
      <td width="{{ percent_up }}%">
        <button
          style="border-radius:10px 0 0 10px;"
          class="btn btn-success btn-lg btn-block">Up ({{ percent_up }}%)
        </button>
      </td>
      <td width="{{ 100 - percent_up }}">
        <button
          style="border-radius:0 10px 10px 0;"
          class="btn btn-danger btn-lg btn-block">Down ({{ 100 - percent_up }}%)
        </button>
      </td>
    </tr>
</table>
{% endblock %}
